.dynamic-tab-pane-control .tab-row .tab a {
	text-decoration: none;
}
.packages .filter {
	margin-bottom: 5px;
}
.packages .filter:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
	line-height: 0;
	height: 0;
}
#searchPagination {
	float: left;
	width: 50%;
	min-height: 1px;
}
#searchPackages {
	float: left;
	width: 50%;
	text-align: right;
}
#searchPackages input:last-child {
	margin-right: 0;
}

.packages .value {
	font-weight: bold;
}
.packages .package {
	background: #fff;
	position: relative;
	padding: 5px;
	margin-bottom: 5px;
	border: 1px solid silver;
	clear: left;
}
.packages .package:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
	line-height: 0;
	height: 0;
}
.packages .package .name {
	float: left;
	width: 300px
}
.packages .package .name .group {
	vertical-align: bottom;
	display: inline-block;
}
.packages .package .name h3 {
	color: #1285a4;
	display: inline-block;
	margin-bottom: 0;
}
.packages .package .properties {
	margin-left: 300px
}

.sectionHeader.results {
	background: none repeat scroll 0 0 #66901b;
	background:-moz-linear-gradient(#8aae4b, #66901b);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#8aae4b), to(#66901b));
	background:-o-linear-gradient(#8aae4b, #66901b);
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
	text-shadow: none;
	border: 1px solid #658f1a;
}

.sectionBody.results {
	border: 1px solid #658f1a;
}

.packages .package .button {
	background: #ededed;
	border: 1px solid green;
	cursor: pointer;
	line-height: normal;
	padding: 2px;
	margin: 0 0 4px 2px;
	background: -moz-linear-gradient(#FFFFFF, #EEEEEE);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#EEEEEE));
	background: -o-linear-gradient(#FFFFFF, #EEEEEE);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF,endColorstr=#EEEEEE);
	zoom: 1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	vertical-align: bottom;
	color: #333;
}

.packages .package .type {
	font-size: 115%;
	display: inline-block;
	width: 60px;
	vertical-align: text-bottom;

}

#uploadPackage label {
	display: inline-block;
	width: 150px;
}
#uploadPackage input[type="file"], #uploadPackage input[type="text"] {
	display: inline-block;
	width: 250px;
}
#uploadPackage input[type="file"] {
	padding: 4px 6px 4px 0;
	margin: 0 5px 5px 0
}